    <section id="banner-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="d-flex justify-content-between">
                        <a href="./index.html" class="banner-top-list">Home</a>
                        <a href="#" class="banner-top-list">/</a>
                        <a href="./home-page-2.html" class="banner-top-list">Blog</a>
                        <a href="#" class="banner-top-list">/</a>
                        <a href="./listing-page.html" class="banner-top-list"> Blog Gridview </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-page-banner">
        <div class="container">
            <form class="row gx-1">
                <div class="col-lg-3 col-md-6 col-12">
                    <select name="" class="form-control search-form-field">
                        <option value="Karachi">All City</option>
                        <option value="Karachi">Karachi</option>
                        <option value="Karachi">Hydrabad</option>
                        <option value="Karachi">Sukkur</option>
                        <option value="Karachi">Lahore</option>
                        <option value="Karachi">Islamabad</option>
                        <option value="Karachi">Quetta</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <select name="" class="form-control search-form-field">
                        <option value="Karachi">All Categories</option>
                        <option value="Karachi">Appliances</option>
                        <option value="Karachi">Car</option>
                        <option value="Karachi">Furniture</option>
                        <option value="Karachi">Bikes</option>
                        <option value="Karachi">Entertainment</option>
                        <option value="Karachi">Fashion</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-8 col-12">
                    <input type="text" placeholder="Search in all city" class="form-control search-form-field">
                </div>

                <div class="col-lg-2 col-md-4 col-12">
                    <button type="button" class="btn-search">
                        <i class="fas fa-search"></i>
                        Search
                    </button>
                   
                </div>
            </form>
        </div> 
    </section>
    <div class="list-of-categories-blocks second-menu">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./index.html">
                            <img src="./images/house-img.png" alt="" class="mx-auto">
                            <span>Real Estate</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./home-page-2.html">
                            <img src="./images/tabs-img.png" alt="" class="mx-auto">
                            <span>Mobile&Tabs</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./listing-page.html">
                            <img src="./images/services.png" alt="" class="mx-auto">
                            <span>Services</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./owner-pf.html">
                            <img src="./images/events-img.png" alt="" class="mx-auto">
                            <span>Electrinics</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./plan.html">
                            <img src="./images/pets-img.png" alt="" class="mx-auto">
                            <span>Pats&PetCare</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./setting.html">
                            <img src="./images/fashion-img.png" alt="" class="mx-auto">
                            <span>Fashion</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./car-list.html">
                            <img src="./images/entern-img.png" alt="" class="mx-auto">
                            <span>Entertainment</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./messege.html">
                            <img src="./images/events-img.png" alt="" class="mx-auto">
                            <span>Event</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./contact-us.html">
                            <img src="./images/jobs-img.png" alt="" class="mx-auto">
                            <span>Jobs</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./register.html">
                            <img src="./images/cars-bikes-img.png" alt="" class="mx-auto">
                            <span>Car & Bikes</span> 
                        </a>
                    </div>
                </div>
            <div class="close-icon"><i class="fas fa-times"></i></div>
            </div>
        </div>
    </div>
    <section id="blog-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-hover-box">
                       <div class="blog-box"></div> 
                       <div class="text-area-blog">
                           <div class="d-flex">
                               <h2>By Michael A. Seay</h2>
                               <div class="d-flex justify-content-between blog-icon-area">
                                <i class="fab fa-windows"></i>
                                <h2>Mar 27, 2018</h2>
                               </div>
                           </div>
                           <h3>Lamborghini Motorcycle Concept</h3>
                           <p>One morning, when Gregor Samsa woke troubled dreams, he found himself transformed.</p>
                           <div class="d-flex justify-content-between mt-4">
                            <a href="#">Read More</a>
                            <div class="d-flex share-icon">
                                <i class="fas fa-comments"></i>
                                <a href="#">18</a>
                                <div class="d-flex share-icon">
                                    <i class="fas fa-share-alt"></i>
                                    <a href="#">Share</a>
                                </div>
                            </div>
                            
                           </div>
                       </div>    
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-hover-box">
                       <div class="blog-box"></div> 
                       <div class="text-area-blog">
                           <div class="d-flex">
                               <h2>By Michael A. Seay</h2>
                               <div class="d-flex justify-content-between blog-icon-area">
                                <i class="fab fa-windows"></i>
                                <h2>Mar 27, 2018</h2>
                               </div>
                           </div>
                           <h3>Lamborghini Motorcycle Concept</h3>
                           <p>One morning, when Gregor Samsa woke troubled dreams, he found himself transformed.</p>
                           <div class="d-flex justify-content-between mt-4">
                            <a href="#">Read More</a>
                            <div class="d-flex share-icon">
                                <i class="fas fa-comments"></i>
                                <a href="#">18</a>
                                <div class="d-flex share-icon">
                                    <i class="fas fa-share-alt"></i>
                                    <a href="#">Share</a>
                                </div>
                            </div>
                            
                           </div>
                       </div>    
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-hover-box">
                       <div class="blog-box"></div> 
                       <div class="text-area-blog">
                           <div class="d-flex">
                               <h2>By Michael A. Seay</h2>
                               <div class="d-flex justify-content-between blog-icon-area">
                                <i class="fab fa-windows"></i>
                                <h2>Mar 27, 2018</h2>
                               </div>
                           </div>
                           <h3>Lamborghini Motorcycle Concept</h3>
                           <p>One morning, when Gregor Samsa woke troubled dreams, he found himself transformed.</p>
                           <div class="d-flex justify-content-between mt-4">
                            <a href="#">Read More</a>
                            <div class="d-flex share-icon">
                                <i class="fas fa-comments"></i>
                                <a href="#">18</a>
                                <div class="d-flex share-icon">
                                    <i class="fas fa-share-alt"></i>
                                    <a href="#">Share</a>
                                </div>
                            </div>
                            
                           </div>
                       </div>    
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-hover-box">
                       <div class="blog-box"></div> 
                       <div class="text-area-blog">
                           <div class="d-flex">
                               <h2>By Michael A. Seay</h2>
                               <div class="d-flex justify-content-between blog-icon-area">
                                <i class="fab fa-windows"></i>
                                <h2>Mar 27, 2018</h2>
                               </div>
                           </div>
                           <h3>Lamborghini Motorcycle Concept</h3>
                           <p>One morning, when Gregor Samsa woke troubled dreams, he found himself transformed.</p>
                           <div class="d-flex justify-content-between mt-4">
                            <a href="#">Read More</a>
                            <div class="d-flex share-icon">
                                <i class="fas fa-comments"></i>
                                <a href="#">18</a>
                                <div class="d-flex share-icon">
                                    <i class="fas fa-share-alt"></i>
                                    <a href="#">Share</a>
                                </div>
                            </div>
                            
                           </div>
                       </div>    
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-hover-box">
                       <div class="blog-box"></div> 
                       <div class="text-area-blog">
                           <div class="d-flex">
                               <h2>By Michael A. Seay</h2>
                               <div class="d-flex justify-content-between blog-icon-area">
                                <i class="fab fa-windows"></i>
                                <h2>Mar 27, 2018</h2>
                               </div>
                           </div>
                           <h3>Lamborghini Motorcycle Concept</h3>
                           <p>One morning, when Gregor Samsa woke troubled dreams, he found himself transformed.</p>
                           <div class="d-flex justify-content-between mt-4">
                            <a href="#">Read More</a>
                            <div class="d-flex share-icon">
                                <i class="fas fa-comments"></i>
                                <a href="#">18</a>
                                <div class="d-flex share-icon">
                                    <i class="fas fa-share-alt"></i>
                                    <a href="#">Share</a>
                                </div>
                            </div>
                            
                           </div>
                       </div>    
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-hover-box">
                       <div class="blog-box"></div> 
                       <div class="text-area-blog">
                           <div class="d-flex">
                               <h2>By Michael A. Seay</h2>
                               <div class="d-flex justify-content-between blog-icon-area">
                                <i class="fab fa-windows"></i>
                                <h2>Mar 27, 2018</h2>
                               </div>
                           </div>
                           <h3>Lamborghini Motorcycle Concept</h3>
                           <p>One morning, when Gregor Samsa woke troubled dreams, he found himself transformed.</p>
                           <div class="d-flex justify-content-between mt-4">
                            <a href="#">Read More</a>
                            <div class="d-flex share-icon">
                                <i class="fas fa-comments"></i>
                                <a href="#">18</a>
                                <div class="d-flex share-icon">
                                    <i class="fas fa-share-alt"></i>
                                    <a href="#">Share</a>
                                </div>
                            </div>
                            
                           </div>
                       </div>    
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-hover-box">
                       <div class="blog-box"></div> 
                       <div class="text-area-blog">
                           <div class="d-flex">
                               <h2>By Michael A. Seay</h2>
                               <div class="d-flex justify-content-between blog-icon-area">
                                <i class="fab fa-windows"></i>
                                <h2>Mar 27, 2018</h2>
                               </div>
                           </div>
                           <h3>Lamborghini Motorcycle Concept</h3>
                           <p>One morning, when Gregor Samsa woke troubled dreams, he found himself transformed.</p>
                           <div class="d-flex justify-content-between mt-4">
                            <a href="#">Read More</a>
                            <div class="d-flex share-icon">
                                <i class="fas fa-comments"></i>
                                <a href="#">18</a>
                                <div class="d-flex share-icon">
                                    <i class="fas fa-share-alt"></i>
                                    <a href="#">Share</a>
                                </div>
                            </div>
                            
                           </div>
                       </div>    
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-hover-box">
                       <div class="blog-box"></div> 
                       <div class="text-area-blog">
                           <div class="d-flex">
                               <h2>By Michael A. Seay</h2>
                               <div class="d-flex justify-content-between blog-icon-area">
                                <i class="fab fa-windows"></i>
                                <h2>Mar 27, 2018</h2>
                               </div>
                           </div>
                           <h3>Lamborghini Motorcycle Concept</h3>
                           <p>One morning, when Gregor Samsa woke troubled dreams, he found himself transformed.</p>
                           <div class="d-flex justify-content-between mt-4">
                            <a href="#">Read More</a>
                            <div class="d-flex share-icon">
                                <i class="fas fa-comments"></i>
                                <a href="#">18</a>
                                <div class="d-flex share-icon">
                                    <i class="fas fa-share-alt"></i>
                                    <a href="#">Share</a>
                                </div>
                            </div>
                            
                           </div>
                       </div>    
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-hover-box">
                       <div class="blog-box"></div> 
                       <div class="text-area-blog">
                           <div class="d-flex">
                               <h2>By Michael A. Seay</h2>
                               <div class="d-flex justify-content-between blog-icon-area">
                                <i class="fab fa-windows"></i>
                                <h2>Mar 27, 2018</h2>
                               </div>
                           </div>
                           <h3>Lamborghini Motorcycle Concept</h3>
                           <p>One morning, when Gregor Samsa woke troubled dreams, he found himself transformed.</p>
                           <div class="d-flex justify-content-between mt-4">
                            <a href="#">Read More</a>
                            <div class="d-flex share-icon">
                                <i class="fas fa-comments"></i>
                                <a href="#">18</a>
                                <div class="d-flex share-icon">
                                    <i class="fas fa-share-alt"></i>
                                    <a href="#">Share</a>
                                </div>
                            </div>
                            
                           </div>
                       </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>