    <section id="banner-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="d-flex justify-content-around">
                        <a href="./index.html" class="banner-top-list">Home</a>
                        <a href="#" class="banner-top-list">/</a>
                        <a href="./home-page-2.html" class="banner-top-list">Dashboard</a>
                        <a href="#" class="banner-top-list">/</a>
                        <a href="./home-page-2.html" class="banner-top-list">Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="list-of-categories-blocks second-menu">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./index.html">
                            <img src="./images/house-img.png" alt="" class="mx-auto">
                            <span>Real Estate</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./home-page-2.html">
                            <img src="./images/tabs-img.png" alt="" class="mx-auto">
                            <span>Mobile&Tabs</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./listing-page.html">
                            <img src="./images/services.png" alt="" class="mx-auto">
                            <span>Services</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./owner-pf.html">
                            <img src="./images/events-img.png" alt="" class="mx-auto">
                            <span>Electrinics</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./plan.html">
                            <img src="./images/pets-img.png" alt="" class="mx-auto">
                            <span>Pats&PetCare</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./setting.html">
                            <img src="./images/fashion-img.png" alt="" class="mx-auto">
                            <span>Fashion</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./car-list.html">
                            <img src="./images/entern-img.png" alt="" class="mx-auto">
                            <span>Entertainment</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./messege.html">
                            <img src="./images/events-img.png" alt="" class="mx-auto">
                            <span>Event</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./contact-us.html">
                            <img src="./images/jobs-img.png" alt="" class="mx-auto">
                            <span>Jobs</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./register.html">
                            <img src="./images/cars-bikes-img.png" alt="" class="mx-auto">
                            <span>Car & Bikes</span> 
                        </a>
                    </div>
                </div>
            <div class="close-icon"><i class="fas fa-times"></i></div>
            </div>
        </div>
    </div>
    <section id="post-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="sub-hd">Subscription Cart</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-area">
                        <i class="fas fa-times"></i>
                        <div class="row justify-content-between">
                            <div class="col-lg-2">
                                <h2 class="standard-hd">Standard  Plan</h2>
                                <h2 class="plan-hd-1">Plan</h2>
                                <h2 class="plan-hd-1">$79.00 / Per Month</h2>
                            </div>
                            <div class="col-lg-2">
                                <div class="text-center plus-area">
                                    <a href="#">Quanlity</a>
                                    <div class="d-flex quanlity-area">
                                        <button  id="add-btn">-</button>
                                        <input id="input"  type="number" value="0">
                                        <button  id="minus-btn">+</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="quanlity-area">
                                    <h2>Total Plan</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="code-area">
                        <input type="number" placeholder="Enter Coupon / Referral Code">
                    </div>
                </div>
                <div class="col-lg-5">&nbsp;</div>
                <div class="col-lg-3">
                    <div class="payment-area">
                        <div class="d-flex justify-content-between">
                            <h2 class="">Total Plan</h2>
                            <h2 class="total-payment-hd">$79,00</h2>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <h2 class="">Tax (10%)</h2>
                            <h2 class="total-payment-hd">$07.90</h2>
                        </div>
                        <div class="d-flex justify-content-between mt-3 border-payment">
                            <h2 class="">Discount</h2>
                            <h2 class="total-payment-hd">-805.00</h2>
                        </div>
                        <div class="d-flex justify-content-between mt-3 ">
                            <h2 class="">Total Payment</h2>
                            <h2 class="total-payment-hd">$79,00</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="total-sep"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">&nbsp;</div>
                <div class="col-lg-4">
                    <div class="d-flex justify-content-between change-btn-area">
                        <button type="submit" class="check-btn">change plan</button>
                        <button type="submit" class="check-btn">place order</button>
                    </div>
                </div>
            </div>
        </div>
    </section>