    <section id="banner-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="d-flex justify-content-around">
                        <a href="./index.html" class="banner-top-list">Home</a>
                        <a href="#" class="banner-top-list">/</a>
                        <a href="./home-page-2.html" class="banner-top-list">CheckOut</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="list-of-categories-blocks second-menu">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./index.html">
                            <img src="./images/house-img.png" alt="" class="mx-auto">
                            <span>Real Estate</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./home-page-2.html">
                            <img src="./images/tabs-img.png" alt="" class="mx-auto">
                            <span>Mobile&Tabs</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./listing-page.html">
                            <img src="./images/services.png" alt="" class="mx-auto">
                            <span>Services</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./owner-pf.html">
                            <img src="./images/events-img.png" alt="" class="mx-auto">
                            <span>Electrinics</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./plan.html">
                            <img src="./images/pets-img.png" alt="" class="mx-auto">
                            <span>Pats&PetCare</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./setting.html">
                            <img src="./images/fashion-img.png" alt="" class="mx-auto">
                            <span>Fashion</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./car-list.html">
                            <img src="./images/entern-img.png" alt="" class="mx-auto">
                            <span>Entertainment</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./messege.html">
                            <img src="./images/events-img.png" alt="" class="mx-auto">
                            <span>Event</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./contact-us.html">
                            <img src="./images/jobs-img.png" alt="" class="mx-auto">
                            <span>Jobs</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./register.html">
                            <img src="./images/cars-bikes-img.png" alt="" class="mx-auto">
                            <span>Car & Bikes</span> 
                        </a>
                    </div>
                </div>
            <div class="close-icon"><i class="fas fa-times"></i></div>
            </div>
        </div>
    </div>
    <section id="post-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-check-1">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Returning Customer? Click here to <a href="#">Login</a> 
                        </label>
                      </div>
                      <div class="form-check-1 mt-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            New Member? Please <a href="#"> Register Now</a> 
                        </label>
                      </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5">
                    <div class="checkout-area-input">
                        <h2>Billing Details</h2>
                        <input type="text" placeholder="Name*">
                        <input type="text" placeholder="Last Name*">
                        <input type="text" placeholder="Email*">
                        <input type="text" placeholder="Phone*">
                        <input type="text" placeholder="Company Name*">
                        <input type="text" placeholder="Country">
                        <input type="text" placeholder="Address">
                        <input type="text" placeholder="Town / City">
                        <input type="text" placeholder="State / Country">
                        <input type="text" placeholder="Post Code / Zip">
                        <div class="order-note-area">
                            <h2>Additional Information</h2>
                            <h2 class="note-hd-1">Order Note</h2>
                            <div class="order-note-area-1">Notes about your order, e.g spicial note for delivery</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">&nbsp;</div>
                <div class="col-lg-5">
                    <div class="order-area">
                        <h2>Your Orders</h2>
                        <div class="payment-method">
                            <div class="payment-method-1 d-flex justify-content-between">
                                <h2>Product Name</h2>
                                <h2>Total</h2>
                            </div>
                            <div class="d-flex justify-content-between total-area">
                                <a href="#">Total Plan</a>
                                <a href="#">$79.00</a>
                            </div>
                            <div class="total-area">
                                <div class="d-flex justify-content-between">
                                    <a href="#">Tex (10%)</a>
                                    <a href="#">$79.00</a>
                                </div>
                                <div class="d-flex justify-content-between mt-3">
                                    <a href="#">Discount</a>
                                    <a href="#">$79.00</a>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between total-area mt-3">
                                <a href="#">Total Amount</a>
                                <a href="#">$79.00</a>
                            </div>
                        </div>
                        <div class="radio-area mt-5">
                            <div class="form-check-1">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Cheque Payment
                                </label>
                              </div>
                              <p>A collection of textile samples lay spread out the table Samsa was a travelling salesman.</p>
                              <div class="d-flex">
                                <div class="form-check-1">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      Paypal
                                    </label>
                                  </div>
                                  <div class="flag-area">
                                      <img src="./images/logo-flag.png" alt="">
                                  </div>
                              </div>
                              <button type="submit" class="place-btn">Place order</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>