    <section id="banner-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="d-flex justify-content-around">
                        <a href="./index.html" class="banner-top-list">Home</a>
                        <a href="#" class="banner-top-list">/</a>
                        <a href="./home-page-2.html" class="banner-top-list">Dashboard</a>
                        <a href="#" class="banner-top-list">/</a>
                        <a href="./home-page-2.html" class="banner-top-list">Setting</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
            <section id="post-section">
                <div class="container-fluid p-0">
                    <div class="row m-0">
                        <div class="col-lg-2">
                            <div class="listing-area">
                                <div class="d-flex hover-listing-area">
                                    <i class="fad fa-birthday-cake"></i>
                                    <a href="./post-ads.html">Posts Ad</a>
                                </div>
                                <div class="d-flex hover-listing-area">
                                    <i class="fad fa-birthday-cake"></i>
                                    <a href="./ad-listing.html">Listing Ad</a>
                                </div>
                                <div class="d-flex hover-listing-area">
                                    <i class="fad fa-birthday-cake"></i>
                                    <a href="#">Messege</a>
                                </div>
                                <div class="d-flex hover-listing-area">
                                    <i class="fad fa-birthday-cake"></i>
                                    <a href="#">Plan</a>
                                </div>
                                <div class="d-flex hover-listing-area">
                                    <i class="fad fa-birthday-cake"></i>
                                    <a href="#">Setting</a>
                                </div>
                                <div class="d-flex hover-listing-area">
                                    <i class="fad fa-birthday-cake"></i>
                                    <a href="#">Delete</a>
                                </div>
                                <div class="d-flex hover-listing-area">
                                    <i class="fad fa-birthday-cake"></i>
                                    <a href="#">Logout</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2">&nbsp;</div>
                        <div class="col-lg-6">
                            <div class="text-center">
                                <p class="para">You will lose all your Ads, Favorites, Message and Credits after deleting your Account.</p>
                                <div class="d-flex text-center group-btn">
                                    <div class="btn-group-2 btn-group-lg" role="group" aria-label="...">
                                        <button type="button" class="hover-btn">Delete Account</button>
                                        <button type="button" class="hover-btn">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>