   <section id="banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <ul class="responsive list-unstyled slider-box-1">
                        <div class="row">
                            <li><a href="#" class="tag">
                                <div class="d-flex slick-slider-area">
                                    <div>
                                        <img class="img-fluid" src="https://freepngimg.com/thumb/tablet/14-2-tablet-png-picture.png" alt="">
                                    </div>
                                    <div class="slides-area">
                                        <div class="d-flex justify-content-between">
                                            <h2>Dell Inspiron 5378 ( 7564501 Sin 9 )</h2>
                                            <h3>$55,00</h2>
                                        </div>
                                        <div class="d-flex hd-area mt-2">
                                            <h2>Intercore i5 Processor
                                            </h2>
                                            <h2>ITB HDD
                                            </h2>
                                        </div>
                                        <div class="d-flex hd-area">
                                            <h2>8 Gb Memory
                                            </h2>
                                            <h2>13.3 inch Screen
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        </div>
                        <div class="row">
                            <li><a href="#" class="tag">
                                <div class="d-flex slick-slider-area">
                                    <div>
                                        <img class="img-fluid" src="https://freepngimg.com/thumb/tablet/14-2-tablet-png-picture.png" alt="">
                                    </div>
                                    <div class="slides-area">
                                        <div class="d-flex justify-content-between">
                                            <h2>Dell Inspiron 5378 ( 7564501 Sin 9 )</h2>
                                            <h3>$55,00</h2>
                                        </div>
                                        <div class="d-flex hd-area mt-2">
                                            <h2>Intercore i5 Processor
                                            </h2>
                                            <h2>ITB HDD
                                            </h2>
                                        </div>
                                        <div class="d-flex hd-area">
                                            <h2>8 Gb Memory
                                            </h2>
                                            <h2>13.3 inch Screen
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        </div>
                        <div class="row">
                            <li><a href="#" class="tag">
                                <div class="d-flex slick-slider-area">
                                    <div>
                                        <img class="img-fluid" src="https://freepngimg.com/thumb/tablet/14-2-tablet-png-picture.png" alt="">
                                    </div>
                                    <div class="slides-area">
                                        <div class="d-flex justify-content-between">
                                            <h2>Dell Inspiron 5378 ( 7564501 Sin 9 )</h2>
                                            <h3>$55,00</h2>
                                        </div>
                                        <div class="d-flex hd-area mt-2">
                                            <h2>Intercore i5 Processor
                                            </h2>
                                            <h2>ITB HDD
                                            </h2>
                                        </div>
                                        <div class="d-flex hd-area">
                                            <h2>8 Gb Memory
                                            </h2>
                                            <h2>13.3 inch Screen
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        </div>
                        <div class="row">
                            <li><a href="#" class="tag">
                                <div class="d-flex slick-slider-area">
                                    <div>
                                        <img class="img-fluid" src="https://freepngimg.com/thumb/tablet/14-2-tablet-png-picture.png" alt="">
                                    </div>
                                    <div class="slides-area">
                                        <div class="d-flex justify-content-between">
                                            <h2>Dell Inspiron 5378 ( 7564501 Sin 9 )</h2>
                                            <h3>$55,00</h2>
                                        </div>
                                        <div class="d-flex hd-area mt-2">
                                            <h2>Intercore i5 Processor
                                            </h2>
                                            <h2>ITB HDD
                                            </h2>
                                        </div>
                                        <div class="d-flex hd-area">
                                            <h2>8 Gb Memory
                                            </h2>
                                            <h2>13.3 inch Screen
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        </div>
                        <div class="row p-0">
                            <li><a href="#" class="tag">
                                <div class="d-flex slick-slider-area">
                                    <div>
                                        <img class="img-fluid" src="https://freepngimg.com/thumb/tablet/14-2-tablet-png-picture.png" alt="">
                                    </div>
                                    <div class="slides-area">
                                        <div class="d-flex justify-content-between">
                                            <h2>Dell Inspiron 5378 ( 7564501 Sin 9 )</h2>
                                            <h3>$55,00</h2>
                                        </div>
                                        <div class="d-flex hd-area mt-2">
                                            <h2>Intercore i5 Processor
                                            </h2>
                                            <h2>ITB HDD
                                            </h2>
                                        </div>
                                        <div class="d-flex hd-area">
                                            <h2>8 Gb Memory
                                            </h2>
                                            <h2>13.3 inch Screen
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="list-of-categories-blocks second-menu">
        <div class="close-icon"><i class="fas fa-times"></i></div>
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./index.html">
                            <img src="./images/house-img.png" alt="" class="mx-auto">
                            <span>Real Estate</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./home-page-2.html">
                            <img src="./images/tabs-img.png" alt="" class="mx-auto">
                            <span>Mobile&Tabs</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./listing-page.html">
                            <img src="./images/services.png" alt="" class="mx-auto">
                            <span>Services</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./owner-pf.html">
                            <img src="./images/events-img.png" alt="" class="mx-auto">
                            <span>Electrinics</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./plan.html">
                            <img src="./images/pets-img.png" alt="" class="mx-auto">
                            <span>Pats&PetCare</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./setting.html">
                            <img src="./images/fashion-img.png" alt="" class="mx-auto">
                            <span>Fashion</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./car-list.html">
                            <img src="./images/entern-img.png" alt="" class="mx-auto">
                            <span>Entertainment</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./messege.html">
                            <img src="./images/events-img.png" alt="" class="mx-auto">
                            <span>Event</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./contact-us.html">
                            <img src="./images/jobs-img.png" alt="" class="mx-auto">
                            <span>Jobs</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./register.html">
                            <img src="./images/cars-bikes-img.png" alt="" class="mx-auto">
                            <span>Car & Bikes</span> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="home-page-sec">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-12">
                    <div class="sec-img-box">
                        <div class="row justify-content-center">
                            <div class="col-lg-3">
                                <div class="text-center">
                                    <img class="img-fluid" src="./images/sec-img-box.png" alt="">
                                </div>
                            </div>
                            <!-- <div class="col-lg-">&nbsp;</div> -->
                            <div class="col-lg-6">
                                <h2 class="sec-2-hd text-center">Buy and Sell all your things in Rental.com</h2>
                            </div>
                            <div class="col-lg-3">
                                <button type="button" class="buy-btn text-center">Buy now</button>
                            </div>
                        </div>
                        
                    </div>    
                </div>
            </div>
            
        </div>
        
    </section>
    <section class="select-sec">
        <div class="conatiner">
            <form class="row gx-1">
                <div class="col-lg-3 col-md-6 col-12">
                    <select name="" class="form-control search-form-field">
                        <option value="Karachi">All City</option>
                        <option value="Karachi">Karachi</option>
                        <option value="Karachi">Hydrabad</option>
                        <option value="Karachi">Sukkur</option>
                        <option value="Karachi">Lahore</option>
                        <option value="Karachi">Islamabad</option>
                        <option value="Karachi">Quetta</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <select name="" class="form-control search-form-field">
                        <option value="Karachi">All Categories</option>
                        <option value="Karachi">Appliances</option>
                        <option value="Karachi">Car</option>
                        <option value="Karachi">Furniture</option>
                        <option value="Karachi">Bikes</option>
                        <option value="Karachi">Entertainment</option>
                        <option value="Karachi">Fashion</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-8 col-12">
                    <input type="text" placeholder="Search in all city" class="form-control search-form-field">
                </div>

                <div class="col-lg-2 col-md-4 col-12">
                    <button type="button" class="btn-search">
                        <i class="fas fa-search"></i>
                        Search
                    </button>
                   
                </div>
            </form>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="sec-hd-1 text-center">Latest Posts</h2>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-4 col-md-8 col-12">
                    <div>
                        <div class="scroll-area">
                            <div class="d-flex icon-area">
                                <div>
                                    <img src="./images/car-icon.png" alt="">
                                </div>
                                <h2 class="hover-hd">cars</h2>
                            </div>
                            <div class="d-flex icon-area mt-3">
                                <div>
                                    <img src="./images/car-icon.png" alt="">
                                </div>
                                <h2 class="hover-hd">Bikes</h2>
                            </div>
                            <div class="d-flex icon-area mt-3">
                                <div>
                                    <img src="./images/car-icon.png" alt="">
                                </div>
                                <h2 class="hover-hd">Electronics</h2>
                            </div>
                            <div class="d-flex icon-area mt-3">
                                <div>
                                    <img src="./images/car-icon.png" alt="">
                                </div>
                                <h2 class="hover-hd">Mobile & Tablets</h2>
                            </div>
                            <div class="d-flex icon-area mt-3">
                                <div>
                                    <img src="./images/car-icon.png" alt="">
                                </div>
                                <h2 class="hover-hd">Fashion</h2>
                            </div>
                            <div class="d-flex icon-area mt-3">
                                <div>
                                    <img src="./images/car-icon.png" alt="">
                                </div>
                                <h2 class="hover-hd">Real Estate</h2>
                            </div>
                        </div>                
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-12 p-0">
                    <div>
                        <div class="text-box-hover">
                            <div class="black-box">
                                <div class="price-area"></div>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <a href="#" class="hover-box-tag">Lexus RX 350 Model Car</a>
                                <a href="#" class="hover-box-tag-1">$48.76</a>
                            </div>
                            <a href="#" class="logo-tag">Cars - Lexus   </a>
                            <div class="d-flex justify-content-between mt-3">
                            <a href="#" class="logo-tag-1">Posted    </a>
                                <div>
                                    <img src="./images/logo-box.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="text-box-hover mt-4">
                            <div class="black-box">
                                <div class="price-area"></div>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <a href="#" class="hover-box-tag">Lexus RX 350 Model Car</a>
                                <a href="#" class="hover-box-tag-1">$48.76</a>
                            </div>
                            <a href="#" class="logo-tag">Cars - Lexus   </a>
                            <div class="d-flex justify-content-between mt-3">
                            <a href="#" class="logo-tag-1">Posted    </a>
                                <div>
                                    <img src="./images/logo-box.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-0">
                    <div>
                        <div class="text-box-hover">
                            <div class="black-box">
                                <div class="price-area"></div>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <a href="#" class="hover-box-tag">Lexus RX 350 Model Car</a>
                                <a href="#" class="hover-box-tag-1">$48.76</a>
                            </div>
                            <a href="#" class="logo-tag">Cars - Lexus   </a>
                            <div class="d-flex justify-content-between mt-3">
                            <a href="#" class="logo-tag-1">Posted    </a>
                                <div>
                                    <img src="./images/logo-box.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="text-box-hover mt-4">
                            <div class="black-box">
                                <div class="price-area"></div>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <a href="#" class="hover-box-tag">Lexus RX 350 Model Car</a>
                                <a href="#" class="hover-box-tag-1">$48.76</a>
                            </div>
                            <a href="#" class="logo-tag">Cars - Lexus   </a>
                            <div class="d-flex justify-content-between mt-3">
                            <a href="#" class="logo-tag-1">Posted    </a>
                                <div>
                                    <img src="./images/logo-box.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="view-btn text-center">View All</button>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonial-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center tastimonial-hd">Rental Companies operate by purchasing or leasing a number of <br> fleet  vehicles and renting them to their customers for a fee</h2>
                </div>
                <div class="col-lg-5">&nbsp;</div>
                <div class="col-lg-2 col-12">
                    <div class="text-center">
                        <button type="button" class="tastimonial-btn text-center">Get Started Now</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">&nbsp;</div>
            <div class="col-lg-8">
                <div class="car-img-area-2"><img class="img-fluid" src="./images/car-img-2.png" alt=""></div>
            </div>
           
        </div>
    </section>
    <section id="sec-form">
        <div class="conatiner-fluid">
            <div class="row m-0">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h2 class="hd text-center">Sell (or) Rent your things in 24 Hours</h2>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-lg-6 p-0">
                    <div class="slider-area">
                        <ul class="responsive slider-home-page p-0 list-unstyled">
                            <li><a href="#" class="tag">
                                <div class="text-area-box text-center">
                                    <h2 class="slider-hd-1 text-center">People say About us</h2>
                                    <p class="slides-para">“He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by the bedding was hardly able to cover it and seemed. </p>
                                    <h2 class="slides-hd-1">John C. Odell</h2>
                                    <div class="text-center star-img-area">
                                        <img src="./images/star-icon.png" alt="">
                                    </div>
                                </div>
                            </a></li>
                            <li><a href="#" class="tag">
                                <div class="text-area-box text-center">
                                    <h2 class="slider-hd-1 text-center">People say About us</h2>
                                    <p class="slides-para">“He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by the bedding was hardly able to cover it and seemed. </p>
                                    <h2 class="slides-hd-1">John C. Odell</h2>
                                    <div class="text-center star-img-area">
                                        <img src="./images/star-icon.png" alt="">
                                    </div>
                                </div>
                            </a></li>
                            <li><a href="#" class="tag">
                                <div class="text-area-box text-center">
                                    <h2 class="slider-hd-1 text-center">People say About us</h2>
                                    <p class="slides-para">“He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by the bedding was hardly able to cover it and seemed. </p>
                                    <h2 class="slides-hd-1">John C. Odell</h2>
                                    <div class="text-center star-img-area">
                                        <img src="./images/star-icon.png" alt="">
                                    </div>
                                </div>
                            </a></li>
                            <li><a href="#" class="tag">
                                <div class="text-area-box text-center">
                                    <h2 class="slider-hd-1 text-center">People say About us</h2>
                                    <p class="slides-para">“He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by the bedding was hardly able to cover it and seemed. </p>
                                    <h2 class="slides-hd-1">John C. Odell</h2>
                                    <div class="text-center star-img-area">
                                        <img src="./images/star-icon.png" alt="">
                                    </div>
                                </div>
                            </a></li>
                            <li><a href="#" class="tag">
                                <div class="text-area-box text-center">
                                    <h2 class="slider-hd-1 text-center">People say About us</h2>
                                    <p class="slides-para">“He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by the bedding was hardly able to cover it and seemed. </p>
                                    <h2 class="slides-hd-1">John C. Odell</h2>
                                    <div class="text-center star-img-area">
                                        <img src="./images/star-icon.png" alt="">
                                    </div>
                                </div>
                            </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="form-box text-center">
                        <h2 class="form-hd">Support</h2>
                        <div class="form-area">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <select name="" id="reason">
                                <option value="Intermidiat">Select Reason</option>
                                <option value="Intermidiat">Intermidiat</option>
                                <option value="Intermidiat">Intermidiat</option>
                                <option value="Intermidiat">Intermidiat</option>
                                <option value="Intermidiat">Intermidiat</option>
                                <option value="Intermidiat">Intermidiat</option>
                                <option value="Intermidiat">Intermidiat</option>
                            </select>
                            <textarea name="" id="textarea-input" placeholder="Messege"></textarea>
                            <button type="submit" class="form-btn">contact us</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>