    <section id="banner-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="d-flex justify-content-around">
                        <a href="./index.html" class="banner-top-list">Home</a>
                        <a href="#" class="banner-top-list">/</a>
                        <a href="./home-page-2.html" class="banner-top-list">Dashboard</a>
                        <a href="#" class="banner-top-list">/</a>
                        <a href="./home-page-2.html" class="banner-top-list">Setting</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="post-section">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div class="col-lg-2">
                    <div class="listing-area">
                        <div class="d-flex hover-listing-area">
                            <i class="fad fa-birthday-cake"></i>
                            <a href="./post-ads.html">Posts Ad</a>
                        </div>
                        <div class="d-flex hover-listing-area">
                            <i class="fad fa-birthday-cake"></i>
                            <a href="./ad-listing.html">Listing Ad</a>
                        </div>
                        <div class="d-flex hover-listing-area">
                            <i class="fad fa-birthday-cake"></i>
                            <a href="#">Messege</a>
                        </div>
                        <div class="d-flex hover-listing-area">
                            <i class="fad fa-birthday-cake"></i>
                            <a href="#">Plan</a>
                        </div>
                        <div class="d-flex hover-listing-area">
                            <i class="fad fa-birthday-cake"></i>
                            <a href="#">Setting</a>
                        </div>
                        <div class="d-flex hover-listing-area">
                            <i class="fad fa-birthday-cake"></i>
                            <a href="#">Delete</a>
                        </div>
                        <div class="d-flex hover-listing-area">
                            <i class="fad fa-birthday-cake"></i>
                            <a href="#">Logout</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">&nbsp;</div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2 class="edit-info">Edit Information</h2>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="user-input">
                                <label for="User name">User name*</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="user-input">
                                <label for="User name">Name*</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="user-input">
                                <label for="User name">Email ID*</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="user-input">
                                <label for="User name">Password*</label>
                                <input type="password">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="user-input">
                                <label for="User name">Verify Password*</label>
                                <input type="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <button type="submit" class="update-btn">update</button>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-12">
                            <div class="sep"></div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <h2 class="edit-info">more details</h2>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="user-input">
                                <label for="User name">Country*</label>
                                <select name="" id="">
                                    <option value="Pakistan"></option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="Pakistan">Pakistan</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="user-input">
                                <label for="User name">Company Name*</label>
                                <input type="text" placeholder="Company Name">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="user-input">
                                <label for="User name">Address*</label>
                                <input type="text" placeholder="Street Address">
                                <input type="text" placeholder="Apartment, Suit, Units etcs..(optional)">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="user-input">
                                <label for="User name">Town / City*</label>
                                <input type="text" placeholder="Town / City">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="user-input  d-flex justify-content-between">
                                <div>
                                    <label for="User name">State / Country*</label>
                                    <input type="text" placeholder="State">
                                </div>
                                <div class="user-input-1">
                                    <label for="User name">Postcode / Zip*</label>
                                    <input type="text" placeholder="Postcode / zip">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="user-input  d-flex justify-content-between">
                                <div>
                                    <label for="User name">Email Address*</label>
                                    <input type="text" placeholder="Email Address">
                                </div>
                                <div class="user-input-1">
                                    <label for="User name">Phone*</label>
                                    <input type="text" placeholder="Phone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <button type="submit" class="update-btn">update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>